.homepage {
    .container {
      margin: 0 auto;
    }
  
    .phimhot {
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
  
      .slider-container {
        .news_outstanding_card {
          border-radius: 7px;
          border: 1px solid #ddd;
          background-color: #fff;
          transition: transform 0.3s;
  
          &:hover {
            transform: scale(1.05);
          }
  
          .image-container {
            position: relative;
  
            img {
              border-radius: 7px 7px 0 0;
              width: 100%;
              height: 130px;
              object-fit: cover;
            }
  
            .title-badge {
              position: absolute;
              top: 5px;
              left: 10px;
              background-color: #BF1D28;
              color: white;
              font-weight: 650;
              font-size: 12px;
              border-radius: 4px;
              width: 57px;
              text-align: center;
            }
          }
  
          .information {
            padding: 10px;
  
            .line-clamp {
              font-size: 14px;
              font-weight: 500;
              margin: 0;
              color: black;
           
            
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              &:hover{
                color:red;
              }
            }
  
            .text-danger {
              font-weight: 650;
              font-size: 14px;
              margin: 5px 0 0;
            }
          }
        }
  
        .custom-arrow {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: rgba(0, 0, 0, 0.7);
          }
  
          i {
            font-size: 20px;
          }
        }
  
        .next-arrow {
          right: -25px;
        }
  
        .prev-arrow {
          left: -25px;
        }
      }
  
      .next-arrow, .prev-arrow {
        &:before {
          font-size: 20px;
          color: #fff;
        }
      }
      .description-badge {
        position: absolute;
        bottom: 10px;
        left: 0px;
        background-color: #522E75;
        color: white;
        font-weight: 650;
        font-size: 12px;
       border-bottom-right-radius: 15px;
        width: 60%;
        height:30px;
       
      }
    }
  }
  
  