.subscription-plans {
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;

    .plans-container {
        display: flex;
        // justify-content: space-between;
        margin-top: 20px;
        margin: auto;
        justify-content: center;
        align-items: center;

        .plan-card {
            width: 22%;
            margin-left: 18px;
            background-color: #f9f9f9;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.3s ease-in-out;

            &.recommended {
                border: 2px solid #FFD700;
            }

            &:hover {
                transform: scale(1.05);
            }

            h3 {
                font-size: 18px;
                color: #333;
            }

            .price {
                font-size: 24px;
                color: #28a745;
                margin: 10px 0;
            }

            .description {
                font-size: 14px;
                color: #555;
                margin-bottom: 15px;
            }

            .channels {
                font-size: 18px;
                color: #333;
                margin-bottom: 15px;
            }

            .benefits {
                text-align: left;
                list-style: none;
                padding: 0;
                margin-bottom: 15px;

                li {
                    font-size: 14px;
                    color: #333;
                    margin: 5px 0;

                    &.extra {
                        color: #d9534f;
                    }
                }
            }

            button {
                background-color: #007bff;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }

    .offers {
        margin-top: 40px;

        h3 {
            font-size: 18px;
            margin-bottom: 20px;
            color: white;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 20px;
            
            li {
                margin-bottom: 10px;
                font-size: 14px;
                color: white;
                strong {
                    color: #d9534f;
                }

                a {
                    color: #007bff;
                }
            }
        }

        button {
            background-color: #28a745;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #218838;
            }
        }
    }
}
