.homepagebodyright_phimmsapchieu_detail{
    
    p{
      margin-top: -15px;
      margin-left: 10px;
    }
  }
  
  /* src/TrendingList.css */
  
  .trending-list {
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #d2691e;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  
  .rank {
    font-weight: bold;
  }
  
  .title {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .views {
    color: gray;
  }
  .homepagebodyright_phimmsapchieu{
    a{
      color: white;
    }
  }

  .namphathanh a{
    color: white
  }